.timetable-header{
  margin: 40px;
  font-size: 2rem;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.data-card{
  margin:40px;
}
.data-table{
  margin:20px;
}

.p-datatable-wrapper{
  border:1px solid var(--surface-d);
  border-radius: 6px;
}
.p-datatable-tbody tr:last-child > *{
  border-width: 0;
}

.p-cell-editing{
  padding: 4px !important;
  width: 20%;
}
.p-editable-column{
  width: 20%;
  height: 60px !important;
}

.cell-editor{
  width: 100%;
}

.header-button-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap:10px;
}
.p-button-label{
  font-weight: normal !important;
}
.header-button-container > * > .pi-plus{
  margin-right: 8px !important;
}